/* ---------- */
/* main style */
/* ---------- */

.container.article {
  max-width: 40rem;
  line-height: 1.5;
}

section {
  margin-bottom: 1.5rem;
}

.container.article figure {
  max-width: 23rem;
  margin: auto;
}

.container.article figure img {
  max-width: 100%;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--khaki-200);
  box-shadow: 0 0 10px 0px #000000;
}
