/* grain background */
.grain-bg {
  background-color: var(--red-300);
  background-image: url(/assets/images/elements/grains/bg-grain-dark.webp);
  background-size: 350px auto;
}

/* ----------------- */
/*       Main        */
/* ----------------- */

/*  Main Info Style  */
.main-info h1 {
  margin: 1rem 0;
  font-size: var(--font-size-xl);
}

.main-info h1 + span {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-300);
  color: var(--khaki-100);
}

.main-info p {
  margin: 1rem 0;
  font-size: var(--font-size-m);
}

.main-header__key {
  text-decoration: underline solid var(--khaki-200) 0.3rem;
  text-underline-offset: 0.3rem;
}

.main-figure__spider-octocat {
  display: none;
}

/*   Main Showcase Style */

.showcase__tagline h1 {
  font-size: var(--font-size-xl);
}

.showcase__projects .project {
  position: relative;
  flex-basis: 12rem;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-weight-300);
  transition-duration: 0.4s;
  overflow: hidden;
}

.project__illustration {
  flex-basis: 75%;
}

.showcase__projects .project:hover {
  box-shadow: inset 0 0 15px 0px var(--vermilion-100);
  transition-duration: 0.4s;
}

.showcase__projects svg {
  width: 2.2rem;
  transition-duration: 0.4s;
}

.showcase__projects figure svg {
  position: relative;
  top: 2rem;
  width: 12rem;
}

.showcase__projects figure img {
  position: relative;
  top: 1.3rem;
}

.project__links__github,
.project__links__description {
  position: absolute;
  transition-duration: 0.4s;
}

.project__links__description {
  top: 1.5rem;
  left: 1.5rem;
}

.project__links__github {
  top: 1.5rem;
  right: 1.5rem;
}

.project__links__live {
  font-size: var(--font-size-s);
  text-decoration: underline solid var(--khaki-100) 0.1rem;
  text-underline-offset: 0.4rem;
}

/* --------------- */
/*  Media Queries  */
/* --------------- */

@media screen and (min-width: 320px) {
  /* MAIN SHOWCASE */
  .showcase__projects .project {
    width: 15rem;
  }
}

@media screen and (min-width: 768px) {
  /* MAIN SHOWCASE */
  .showcase__projects {
    flex-direction: row;
    justify-content: space-around;
  }

  .showcase__projects .project {
    height: 12rem;
    flex-basis: 32%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  /* MAIN INFO */
  .main-info {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  /* MAIN INFO */
  .main-info {
    position: relative;
  }

  .main-info h1 {
    font-size: var(--font-size-xxl);
  }

  .main-info h1 + span {
    font-size: var(--font-size-xl);
  }

  .main-info p {
    width: 35rem;
    font-size: var(--font-size-l);
  }

  .main-figure__spider-octocat {
    display: block;
    position: absolute;
    left: 41.9rem;
    top: 4.6rem;
    width: 11rem;
  }

  /* MAIN SHOWCASE */
  .showcase__tagline h1 {
    font-size: var(--font-size-xxl);
  }
}
