/* --------------- */
/*      Reset      */
/* --------------- */

/* Remove body margin */
body {
  min-height: 100vh;
  font-family: 'Cabinet Grotesk', sans-serif;
  color: var(--gray-100);
  text-rendering: optimizeSpeed;
}

/*  Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset list style */
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* reset links style */
a {
  color: var(--gray-100);
  text-decoration: none;
}

/* reset figure margin */
figure {
  margin: 1rem 0 1rem;
}

/* --------------- */
/*  Header  Style  */
/* --------------- */

.main-header {
  padding: 1rem 0;
}

.main-header__nav li {
  margin: 0 0.5rem;
}

.main-header__nav a:hover {
  text-decoration: underline solid var(--red-100) 0.1rem;
}

/* ----------------- */
/*  Main Info Style  */
/* ----------------- */

main {
  min-height: calc(100vh - 13.6rem);
  padding: 4rem 1rem;
}

.main-header__key {
  text-decoration: underline solid var(--khaki-200) 0.3rem;
  text-underline-offset: 0.3rem;
}

.main-figure__spider-octocat {
  display: none;
}

/* --------------------- */
/*   Main Showcase Style */
/* --------------------- */
.showcase__projects .project {
  position: relative;
  flex-basis: 12rem;
  width: 15rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  transition-duration: 0.4s;
  overflow: hidden;
}

.project__illustration {
  flex-basis: 75%;
}

.showcase__projects .project:hover {
  box-shadow: inset 0 0 15px 0px var(--vermilion-100);
  transition-duration: 0.4s;
}

.showcase__projects svg {
  width: 2.2rem;
  transition-duration: 0.4s;
}

.showcase__projects figure svg {
  position: relative;
  top: 2rem;
  width: 12rem;
}

.showcase__projects figure img {
  position: relative;
  top: 1.3rem;
}

.project__links__github,
.project__links__description {
  position: absolute;
  transition-duration: 0.4s;
}

.project__links__description {
  top: 1.5rem;
  left: 1.5rem;
}

.project__links__github {
  top: 1.5rem;
  right: 1.5rem;
}

.project__links__live {
  text-decoration: underline solid var(--khaki-100) 0.1rem;
  text-underline-offset: 0.4rem;
}

/* -------------- */
/*  Footer Style  */
/* -------------- */

.footer {
  padding: 1.5rem 0;
}

p.footer__copyright {
  margin-bottom: 0;
}

.footer__links li:not(:last-child) {
  margin-right: 1rem;
}

.footer__links li {
  transform: rotateZ(0) scale(1);
}

.footer__links li:hover {
  transform: rotateZ(5deg) scale(1.1);
}

.footer__links svg {
  width: 1.7rem;
}

.footer__links svg:hover {
  fill: var(--khaki-100);
}

/* --------------- */
/*  Media Queries  */
/* --------------- */

@media screen and (min-width: 320px) {
  /* MAIN SHOWCASE */
  .showcase__projects .project {
    width: 15rem;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: calc(100vw - 50px);
  }

  /* HEADER */
  .main-header .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }

  /* MAIN SHOWCASE */
  .showcase__projects {
    flex-direction: row;
    justify-content: space-around;
  }

  .showcase__projects .project {
    height: 12rem;
    flex-basis: 32%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 980px;
  }

  /* MAIN INFO */
  .main-info {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  /* MAIN INFO */
  .main-info {
    position: relative;
  }

  .main-info h1 {
    font-size: var(--font-size-xxl);
  }

  .main-info h1 + span {
    font-size: var(--font-size-xl);
  }

  .main-info p {
    width: 35rem;
    font-size: var(--font-size-l);
  }

  .main-figure__spider-octocat {
    display: block;
    position: absolute;
    left: 41.9rem;
    top: 4.6rem;
    width: 11rem;
  }

  /* MAIN SHOWCASE */
  .showcase__tagline h1 {
    font-size: var(--font-size-xxl);
  }
}
