:root {
  /*      Font Size      */
  --font-size-s: 1.5rem;
  --font-size-m: 1.7rem;
  --font-size-l: 2rem;
  --font-size-xl: 3rem;
  --font-size-xxl: 4rem;

  /*      Font Weight      */
  --font-weight-300: 300;

  /*      Colors      */
  /* Red */
  --red-100: #ffb2b2;
  --red-200: #9b2727;
  --red-300: #7a1f1f;

  /* Gray */
  --gray-100: #ffffff;

  /* Khaki */
  --khaki-100: #ffc107;
  --khaki-200: rgba(255, 193, 7, 0.69);

  /* Vermilion */
  --vermilion-100: #ff5722;
}

/* --------------- */
/*      Reset      */
/* --------------- */

/* Remove body margin */
body {
  font-family: 'Cabinet Grotesk', sans-serif;
  text-rendering: optimizeSpeed;
  margin: 0;
}

/*  Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset list style */
ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* reset links style */
a {
  text-decoration: none;
}

/* --------------- */
/*  Utility Class  */
/* --------------- */

.container {
  margin: auto;
}

/* --------------- */
/*  Header  Style  */
/* --------------- */
.header {
  background-color: var(--red-300);
  padding: 1.5rem;
}

.header__nav li {
  margin: 0 0.5rem;
}

.header__nav a {
  color: var(--gray-100);
}

@media screen and (min-width: 320px) {
  .header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__nav .nav-links {
    display: flex;
  }
}

@media screen and (min-width: 480px) {
  .header .container {
    flex-direction: row;
    justify-content: space-between;
    width: calc(100vw - 50px);
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .header .container {
    width: 980px;
  }
}

@media screen and (min-width: 1200px) {
  .header .container {
    width: 1170px;
  }
}

/* header {
  padding: 1.5rem 0;
  color: var(--gray-100);
  background-color: var(--red-300);
  background-image: url(/assets/images/elements/grains/bg-grain-dark.webp);
  background-size: 350px auto;
}

header .logo {
  width: 200px;
  height: 30px;
  margin-bottom: 1rem;
}

header .logo svg {
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
}

nav .nav-links {
  display: flex;
  justify-content: space-evenly;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  color: var(--gray-100);
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline solid var(--red-100) 0.1rem;
} */

/* --------------- */
/*  Main Style  */
/* --------------- */
/* main {
  padding: 3rem 0;
  background-color: var(--red-200);
  background-image: url(/assets/images/elements/grains/bg-grain-dark.webp);
  background-size: 350px auto;
  filter: hue-rotate(1);
}

section.main-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 */
/* element header */
/* h1 {
  color: var(--gray-100);
}

section.main-info h1 {
  margin: 1rem;
}

h1 + span {
  font-weight: 300;
  margin: -1.3rem 1rem 1rem;
  color: var(--khaki-100);
  display: inline-block;
}

section.main-info p {
  color: var(--gray-100);
  font-size: 2em;
  margin: 1rem;
}

.header__key {
  text-decoration: underline solid var(--khaki-200) 0.3rem;
  text-underline-offset: 0.3rem;
} */

/* element */
/* figure {
  margin: 1rem;
}

.main-figure__personal {
  width: 100%;
  height: 100%;
}

.main-figure__spider-octocat {
  position: absolute;
  left: 40.9rem;
  top: 6.5rem;
  width: 11rem;
}

.showcase {
  margin: 1rem;
}

.showcase__tagline h1 {
  text-align: center;
}

.showcase__projects {
  display: flex;
  justify-content: space-between;
}

.showcase__projects .project {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--red-300);
  background-image: url(/assets/images/elements/grains/bg-grain-dark.webp);
  background-size: 350px auto;
  font-weight: 300;
  overflow: hidden;
  border-radius: 0.5rem;
  transition-duration: 0.4s;
}

.showcase__projects figure svg {
  display: inline-block;
  width: 12rem;
  position: relative;
  top: 2rem;
}

.showcase__projects .project:hover {
  box-shadow: inset 0 0 15px 0px var(--vermilion-100);
  transition-duration: 0.4s;
}

.project__illustration {
  flex-basis: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 */
/* adjust the position for personal website logo */
/* .project.personal-website .illustration__figure img,
.project.personal-blog .illustration__figure img,
.project.elzero-frontend-challenges .illustration__figure img {
  margin-top: 3rem;
}

.project__links__description {
  color: white;
  font-size: var(--font-size-m);
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.4rem;
  text-decoration-color: var(--khaki-100);
}

.project__links__github,
.project__links__live {
  position: absolute;
  transition-duration: 0.4s;
}

.project__links__github {
  top: 1.5rem;
  right: 1.5rem;
}

.project__links__live {
  top: 1.5rem;
  left: 1.5rem;
}

.project__links__github:hover svg path,
.project__links__live:hover svg path {
  fill: var(--khaki-100);
  transition-duration: 0.4s;
}
 */
/* --------------- */
/*  Footer  Style  */
/* --------------- */

/* footer {
  padding: 1.5rem 0;
  background-color: var(--red-300);
  background-image: url(/assets/images/elements/grains/bg-grain-dark.webp);
  background-size: 350px auto;
}

footer .container {
  display: flex;
  justify-content: space-between;
  color: var(--gray-100);
}

.footer__links li:not(:last-child) {
  margin-right: 1rem;
}

.footer__links li {
  transform: rotateZ(0) scale(1);
}

.footer__links li:hover {
  transform: rotateZ(5deg) scale(1.1);
}

.footer__links svg {
  fill: var(--gray-100);
}

.footer__links svg:hover {
  fill: var(--khaki-100);
}

.footer__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
 */
/* --------------- */
/*  Media Queries  */
/* --------------- */
/* @media screen and (width <= 480px) {
  .container {
    width: calc(100vw - 50px);
  }

  header .container {
    flex-direction: column;
  }

  .nav-links li:last-child {
    margin-right: 0;
  }

  h1 {
    font-size: var(--font-size-xl);
  }

  h1 + span {
    font-size: var(--font-size-l);
  }

  section.main-info p {
    font-size: var(--font-size-m);
    width: initial;
  }

  section.main-info {
    text-align: center;
    flex-direction: column-reverse;
  }

  .figure {
    margin: auto;
  }

  .main-figure {
    overflow: hidden;
    width: 290px;
    height: 230px;
  }

  .main-figure__personal {
    width: auto;
    object-position: center center;
  }

  .main-figure__spider-octocat {
    display: none;
  }

  .showcase__projects {
    flex-direction: column;
    height: 38rem;
    align-items: center;
  }

  .showcase__projects svg {
    width: 2.2rem;
  }

  .showcase__projects .project {
    width: 17rem;
    height: 12rem;
  }

  .project__links__description {
    font-size: var(--font-size-s);
  }

  footer .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__links svg {
    width: 1.7rem;
  }

  p.footer__copyright {
    flex-basis: auto;
    text-align: center;
  }
}

@media screen and (width >= 480px) {
  .container {
    width: calc(100vw - 50px);
  }

  h1 {
    font-size: var(--font-size-xl);
  }

  h1 + span {
    font-size: var(--font-size-l);
  }

  section.main-info p {
    font-size: var(--font-size-m);
    width: initial;
  }

  section.main-info {
    text-align: center;
    flex-direction: column-reverse;
  }

  .figure {
    margin: auto;
  }

  .main-figure__personal {
    width: 25rem;
    object-position: center center;
  }

  .main-figure__spider-octocat {
    display: none;
  }

  .showcase__projects {
    flex-direction: column;
    height: 41rem;
    align-items: center;
  }

  .showcase__projects svg {
    width: 2.2rem;
  }

  .showcase__projects .project {
    width: 19rem;
    height: 12rem;
  }

  .project__links__description {
    font-size: var(--font-size-s);
  }

  footer .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__links svg {
    width: 1.7rem;
  }

  p.footer__copyright {
    flex-basis: auto;
  }
}

@media screen and (width >= 768px) {
  .container {
    width: 750px;
  }

  .main-figure__spider-octocat {
    display: none;
  }

  .showcase__projects {
    flex-direction: row;
    height: initial;
    align-items: initial;
  }

  .showcase__projects .project {
    flex-basis: calc((768px - 64px) / 3);
    height: 13rem;
    width: initial;
  }

  footer .container {
    flex-direction: initial;
    align-items: initial;
  }

  .footer__links {
    width: 100%;
    margin-right: 1rem;
  }

  p.footer__copyright {
    flex-basis: 41rem;
  }
}

@media screen and (width >= 992px) {
  .container {
    width: 980px;
  }

  section.main-info {
    text-align: initial;
    flex-direction: row;
  }

  .figure {
    margin: 1rem;
  }

  .main-figure__personal {
    width: 100%;
    object-position: initial;
  }

  .showcase__projects svg {
    width: 3rem;
  }

  .showcase__projects .project {
    flex-basis: calc((990px - 64px) / 3);
    height: 14rem;
  }

  .project__links__description {
    font-size: var(--font-size-m);
  }

  .footer__links svg {
    width: 2rem;
  }

  p.footer__copyright {
    flex-basis: 100%;
  }
}

@media screen and (width >= 1200px) {
  .container {
    width: 1168px;
  }

  h1 {
    font-size: var(--font-size-xxl);
  }

  section.main-info h1 {
    width: 48rem;
  }

  h1 + span {
    font-size: var(--font-size-xl);
  }

  section.main-info p {
    width: 40rem;
    font-size: var(--font-size-l);
  }

  .main-figure__spider-octocat {
    display: block;
  }

  .showcase__projects .project {
    flex-basis: calc((1200px - 86px) / 3);
    height: 17rem;
  }

  .footer__links svg {
    width: 2.3rem;
  }
} */
