.container {
  margin: auto;
}

.grain-bg {
  background-color: var(--red-300);
  background-image: url(/assets/images/elements/grains/bg-grain-dark.webp);
  background-size: 350px auto;
}

/* box-size */
.dp-bl {
  display: block;
}

.dp-fx {
  display: flex;
}

.fx-dr__cl {
  flex-direction: column;
}

.fx-dr__cl-rv {
  flex-direction: column-reverse;
}

.fx-js__bn {
  justify-content: space-between;
}

.fx-js__cn {
  justify-content: center;
}

.fx-js__en {
  justify-content: flex-end;
}

.fx-al__cn {
  align-items: center;
}

.tx-al__cn {
  text-align: center;
}

/* background colors */

.bg-red300 {
  background-color: var(--red-300);
}

.bg-red200 {
  background-color: var(--red-200);
}

.bg-red100 {
  background-color: var(--red-100);
  color: #000000;
}

.bg-white {
  background-color: var(--gray-100);
  color: #000000;
}

.bg-khaki-1 {
  background-color: var(--khaki-100);
  color: #000000;
}

.bg-khaki-2 {
  background-color: var(--khaki-200);
}

.bg-vermilion {
  background-color: var(--vermilion-100);
}

/* colors */
.cl-khaki-1 {
  color: var(--khaki-100);
}

.cl-black {
  color: #000000;
}

.highlight-cl {
  color: var(--khaki-100);
}

.underline {
  text-decoration: underline dashed var(--khaki-100) 0.1rem;
  text-underline-offset: 0.3rem;
}

.color-code {
  border: 1px solid;
  border-radius: 0.3rem;
}

.pd-tp-2 {
  padding-top: 2rem;
}
